.tabs { font-family: Verdana; font-size: 12px;}
.tabs .btn { padding: 4px 7px; background: #ddd; border-radius: 4px;border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; margin-right: 4px; cursor: pointer; }
.tabs .targets { background: #fff; border: 10px solid #666; padding: 10px; }
.tabs .btn.active { color: #fff; background-color: #666; }